@page "/BlazorBarcode"
@using Syncfusion.Blazor.BarcodeGenerator

    <h3>BlazorBarcode</h3>
<div class="centercontrol">
    <SfBarcodeGenerator Width="200px" Height="150px" ForeColor="white" BackgroundColor="red" Type="@BarcodeType.Code39" Value="SYNCFUSION">

    </SfBarcodeGenerator>
</div>

@code{ 

   
}
